:root {
  --page-background:            oklch(40% 0.02445 246.381);
  --padlock-body:               oklch(35% 0.03914 249.005);
  --padlock-shackle:            oklch(80% 0.01847 229.263);

  --level-easy:                 #009900;
  --level-medium:               #CC6600;
  --level-hard:                 #CC0000;

  --button-background:          oklch(95% 0.005 250);
  --button-text:                oklch(25% 0.025 249);
  --disabled-button-background: oklch(from var(--button-background) l c h / 0.1);
  --disabled-button-text:       oklch(25% 0.025 249);
  --selected-button-background: oklch(from yellow l 1 h);
  --selected-button-text:       var(--button-text);

  --calculation-text:           oklch(70% 0.161 55);
  --brand-text:                 oklch(0% 0 0 / 0.267);
  --shackle-text:               var(--button-background);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--page-background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#padlock {
  max-width: 95vw;
  overflow: visible;
  width: 340px;
}

#shackle {
  stroke-width: 40px;
  transform: translateY(0px) scaleX(1);
  transform-origin: 50px 0px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;

  #rating-top {
    dominant-baseline: text-after-edge;
    fill: var(--shackle-text);
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    text-anchor: middle;
    user-select: none;
  }

  #rating-bottom {
    dominant-baseline: text-before-edge;
    fill: var(--shackle-text);
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    text-anchor: middle;
    user-select: none;
  }

  path {
    stroke: var(--padlock-shackle);
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
  }

  &.level-easy {
    stroke-width: 40px;

    path {
      stroke: var(--level-easy);
    }

    #rating-top, #rating-bottom {
      font-size: 14px;
    }
  }

  &.level-medium {
    stroke-width: 50px;

    path {
      stroke: var(--level-medium);
    }

    #rating-top, #rating-bottom {
      font-size: 18px;
    }
  }

  &.level-hard {
    stroke-width: 60px;

    path {
      stroke: var(--level-hard);
    }

    #rating-top, #rating-bottom {
      font-size: 22px;
    }
  }

  &.animation-up {
    transform: translateY(-100px) scaleX(1);

    &.animation-left {
      transform: translateY(-100px) scaleX(-1);

      &.animation-right {
        transform: translateY(-100px) scaleX(1);

        &.animation-down {
          transform: translateY(0px) scaleX(1);
        }
      }
    }
  }
}

#body {
  fill: var(--padlock-body);
}

.button {
  user-select: none;

  rect {
    fill: var(--button-background);
  }

  text {
    font-size: 24px;
    font-weight: 700;
    fill: var(--button-text);
    pointer-events: none;
    user-select: none;
    dominant-baseline: central;
    text-anchor: middle;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    rect {
      fill: var(--disabled-button-background);
    }

    text {
      fill: var(--disabled-button-text);
    }
  }

  &.selected {
    rect {
      fill: var(--selected-button-background);
    }

    text {
      fill: var(--selected-button-text);
    }
  }
}

.calculation {
  dominant-baseline: middle;
  font-size: 14px;
  font-weight: 600;
  fill: var(--calculation-text);
  pointer-events: none;
  user-select: none;
}

#brand {
  font-size: 14px;
  font-weight: 700;
  fill: var(--brand-text);
  pointer-events: none;
  user-select: none;
  text-anchor: end;
  dominant-baseline: ideographic;
}
